version: "3.9"
services:

  mongo:
    image: mongo
    container_name: mongo
    volumes:
      - met-update-db-data:/data/db
    networks:
      - predicted-runway

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    ports:
      - 8081:8081
    depends_on:
      - mongo
    restart: "unless-stopped"
    networks:
      - predicted-runway

  met-update:
#    TODO: revert
#    image: ghcr.io/eurocontrol-swim/predicted-runway-met-update:master
    image: pr-met-update
    container_name: pr-met-update
    environment:
      - UPDATE_RATE
      - ICAO_CODES
      - AVWX_TOKEN
      - MET_UPDATE_DB_NAME
      - MET_UPDATE_DB_HOST
    restart: "on-failure:3"
    depends_on:
      - mongo
    networks:
      - predicted-runway

  pr-api-runway-prediction:
#    TODO: revert
#    image: ghcr.io/eurocontrol-swim/predicted-runway-webapp:master
    image: pr-api
    container_name: pr-api-runway-prediction
    volumes:
#      TODO: revert
#      - ./predicted_runway/models:/data/models
#      - ./predicted_runway/stats:/data/stats
      - /data/models:/data/models
      - /data/stats:/data/stats
      - /data/airports:/data/airports
    expose:
      - "5000"
    environment:
      - SECRET_KEY
      - MET_UPDATE_DB_NAME
      - MET_UPDATE_DB_HOST
    restart: "on-failure:3"
    depends_on:
      - mongo
    networks:
      - predicted-runway
    command: gunicorn -w 1 --bind :5000 predicted_runway.app:create_app()

  pr-api-runway-config-prediction:
#    TODO: revert
#    image: ghcr.io/eurocontrol-swim/predicted-runway-webapp:master
    image: pr-api
    container_name: pr-api-runway-config-prediction
    volumes:
#      TODO: revert
#      - ./predicted_runway/models:/data/models
#      - ./predicted_runway/stats:/data/stats
      - /data/models:/data/models
      - /data/stats:/data/stats
      - /data/airports:/data/airports
    expose:
      - "5000"
    environment:
      - SECRET_KEY
      - MET_UPDATE_DB_NAME
      - MET_UPDATE_DB_HOST
    restart: "on-failure:3"
    depends_on:
      - mongo
    networks:
      - predicted-runway
    command: gunicorn -w 1 --bind :5000 predicted_runway.app:create_app()


  pr-api-extra:
    #    TODO: revert
    #    image: ghcr.io/eurocontrol-swim/predicted-runway-webapp:master
    image: pr-api
    container_name: pr-api-extra
    volumes:
      #      TODO: revert
      #      - ./predicted_runway/models:/data/models
      #      - ./predicted_runway/stats:/data/stats
      - /data/models:/data/models
      - /data/stats:/data/stats
      - /data/airports:/data/airports
    expose:
      - "5000"
    environment:
      - SECRET_KEY
      - MET_UPDATE_DB_NAME
      - MET_UPDATE_DB_HOST
    restart: "on-failure:3"
    depends_on:
      - mongo
    networks:
      - predicted-runway
    command: gunicorn -w 1 --bind :5000 predicted_runway.app:create_app()

  web-server:
#    TODO: revert
#    image: ghcr.io/eurocontrol-swim/predicted-runway-webserver:master
    image: pr-web-server
    container_name: pr-web-server
    ports:
      - "8080:8080"
      - "8443:8443"
    volumes:
      - /data/pr-ui/html:/usr/share/nginx/html
      - ./nginx/secrets:/etc/nginx/ssl
    restart: "on-failure:3"
    networks:
      - predicted-runway

volumes:
  met-update-db-data:
    driver: local

networks:
  predicted-runway:
    driver: bridge
