version: "3.3"
services:
  met-update:
    image: ghcr.io/eurocontrol-swim/predicted-runway-met-update:master
    volumes:
      - met-volume:/data
    environment:
      - UPDATE_RATE
      - ICAO_CODES
      - AVWX_TOKEN
    restart: "on-failure:3"
  web-app:
    image: ghcr.io/eurocontrol-swim/predicted-runway-webapp:master
    volumes:
      - met-volume:/data/met
      - type: bind
        source: ./predicted_runway/models
        target: /data/models
      - type: bind
        source: ./predicted_runway/stats
        target: /data/stats
    expose:
      - "5000"
    environment:
      - SECRET_KEY
    restart: "on-failure:3"
  web-server:
    image: ghcr.io/eurocontrol-swim/predicted-runway-webserver:master
    ports:
      - "8080:8080"
      - "8443:8443"
    volumes:
      - type: bind
        source: ./nginx/secrets
        target: /etc/nginx/ssl
    restart: "on-failure:3"
volumes:
  met-volume:
